{% extends 'base.html' %}

{% block content %}
<h2>Reset your password</h2>
<form method="POST">
	{% csrf_token %}
	{{ form.as_p }}
	<button type="submit">Send confirmantion link</button>
</form>
{% endblock %}