{% extends 'base.html' %}

{% block content %}
<h2>Set New password</h2>
{% if validlink %}
<form method="POST">
	{% csrf_token %}
	{{ form.as_p }}
	<button type="submit">Save</button>
</form>
{% else %}
<p style="color:red;">Invalid Token</p>
<p>
	<a href="{% url 'password_reset' %}">Request a new password reset token</a>
</p>
{% endif %}
{% endblock %}